*{
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}

html, body {
  
  padding: 0;
  margin: 0;
   /* removes the white space at the right side: */
  overflow-x:hidden; 
}

.app {
  min-height: 100vh;
  margin: 0;
}
.searchBackground{
  display: flex;
  justify-content: center;
  background-color: #e9fac8;
  margin-bottom: 2px;
  height: 3em;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fae4c8;
  margin-bottom: 20px;
  height: 50px;

  
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fae4c8;
  
  
}

li a{
  flex: 1;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #FFCD8E;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: 1px;
  border-color: #e7fac8;
  padding: 10px; 
}
.search-button{
  background: #c9f395;
  border: 1px;
  padding: 10px 20px;
  color: black;
}
.search-frontpage-button{
  background: #c9f395;
  border: 1px;
  padding: 0.5rem 1rem;
  color: black;
  float: right;
    
}
.hidden { display:none; }