.foto{
    object-fit: cover;
}
.cardWrapper{ 
    background-color: white;
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex; 
    background-color: #07b1d9;
    height: 300px;
    max-width: 500px;
    width: 100vw; 
    margin-bottom: 20px;
    overflow: hidden;
    
}

.opaqueBox {
    display: flex;
    justify-content: center;
    z-index: 5;
    background-color: white;
    height: 67px;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: .5;
    text-align: center;
}
.cardHeading{
    z-index: 5;
    color: #150e0a;
    font-size: 1.5em;
    margin-bottom: 32px;
    position: absolute;
    bottom: 0;

}